<style>
    .well {
        background-color: #ffffff;
        border: 1px solid #e3e3e3;
    }
</style>

<button class="btn btn-primary" ng-click="saveOpinion(opinion)">Save</button>

<div class="well" style="width: 100%" ng-repeat="section in opinion.sections">
    Section

    <div class="well well-sm" style="width: 100%" ng-repeat="question in section.questions">
        Question

        <div class="well well-sm" style="width: 100%" ng-repeat="answer in question.answers">
            Answer

        </div>
        <div class="well well-sm" style="width: 100%; text-align: center; cursor: pointer;"
             ng-click="newAnswer(question)">
            <span class="glyphicon glyphicon-plus">answer</span>
        </div>
    </div>
    <div class="well well-sm" style="width: 100%; text-align: center; cursor: pointer;"
         ng-click="newQuestion(section)">
        <span class="glyphicon glyphicon-plus">question</span>
    </div>

</div>
<div class="well well-sm" style="width: 100%; text-align: center; cursor: pointer;"
     ng-click="newSection(opinion)">
    <span class="glyphicon glyphicon-plus">section</span>
</div>