<div class="container">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input placeholder="Название опроса"
                       type="text" class="form-control"
                       ng-model="opinion.title">
            </div>
        </div>
        <div class="col-md-6">
            <a class="btn btn-default" title="Ссылка для тестирования опроса, результаты не записываются"
               ng-href="{{viewLink}}" target="_blank">Посмотреть результат</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" title="Предоставляется участникам опроса">
            <input type="text" value="{{shareLink}}" readonly style="width: 100%">
        </div>
        <div class="col-md-6">
            <a class="btn btn-default" title="Результаты прохождения опроса"
               ng-href="{{statisticsLink}}" target="_blank">Статистика прохождения</a>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-md-5">
            <button style="width: 100%" type="button" class="btn btn-default" ng-click="addInfoSection(opinion)">
                Добавить информационную секцию
            </button>
        </div>
    </div>-->


    <div class="row section" ng-repeat="section in opinion.sections track by $index">

        <div class="col-md-12">

            <label ng-show="section.type === 'QUESTIONS'">Секция #{{$index + 1}}</label>
            <label ng-show="section.type === 'RESPONDENT_INFO'">Информация о респонденте</label>
            <input placeholder="Опциональное описание или уточнения"
                   type="text" style="margin-top: 3px; width: 25%"
                   ng-model="section.text">
            <button role="button" class="btn btn-default" title="Удалить секцию"
                    style="margin-top: 3px;float: right;"
                    ng-click="removeSection(section)">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <input placeholder="Время на секцию в секундах"
                   type="text" style="margin-top: 3px;float: right;"
                   ng-model="section.timeToResponse">

            <div ng-show="section.type === 'QUESTIONS'">
                <div class="row question" ng-repeat="question in section.questions track by $index">
                    <div class="col-md-12">

                        <label>Вопрос #{{$index + 1}}</label>
                        <input placeholder="Текст вопроса"
                               type="text" style="margin-top: 3px; width: 75%"
                               ng-model="question.questionText">
                        <button role="button" class="btn btn-default" title="Удалить вопрос"
                                style="margin-top: 3px;float: right;"
                                ng-click="removeQuestion(question, section)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <br/>
                        <span>
                            <input type="checkbox" ng-model="question.multipleAnswers">
                            <span class="checkbox-text">Выбор нескольких ответов</span>
                        </span>
                        <span>
                            <input type="checkbox" ng-model="question.customNavigation">
                            <span class="checkbox-text">Сложная навигация</span>
                        </span>

                        <div class="row answer" ng-repeat="answer in question.answers track by $index">
                            <div class="col-md-12">

                                <label>Ответ #{{$index + 1}}</label>
                                <input placeholder="Текст ответа"
                                       type="text" style="margin-top: 2px; width: 65%;"
                                       ng-model="answer.answerText">
                                <span ng-show="question.customNavigation">
                                <label>Перейти к секции #</label>
                                <select ng-model="answer.navigateToSectionId"
                                        ng-options="section.id as (opinion.sections.indexOf(section)+1) for section in opinion.sections">
                                    <option value="">default</option>
                                </select>
                                </span>
                                <button role="button" class="btn btn-default" title="Удалить ответ"
                                        style="margin-top: 3px;float: right;"
                                        ng-click="removeAnswer(answer, question)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                        </div>
                        <div class="row" align="middle">
                            <button type="button" class="btn btn-default" ng-click="newAnswer(question)">
                                <span class="glyphicon glyphicon-plus"></span>
                                Добавить ответ
                            </button>
                        </div>

                    </div>
                </div>

                <div class="row" align="middle">
                    <button type="button" class="btn btn-default" ng-click="newQuestion(section)">
                        <span class="glyphicon glyphicon-plus"></span>
                        Добавить вопрос
                    </button>
                </div>
            </div>

            <div ng-show="section.type === 'RESPONDENT_INFO'">

                <div class="row question" ng-repeat="question in section.questions">
                    <div class="col-md-12">

                        <input placeholder="Текст вопроса"
                               type="text" style="margin-top: 3px; width: 75%"
                               ng-model="question.questionText">
                        <button role="button" class="btn btn-default" title="Удалить вопрос"
                                style="margin-top: 3px;float: right;"
                                ng-click="removeQuestion(question, section)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <br/>
                        <span class="radio">
                            <label>
                                <input type="radio" name="optradio{{question.id}}"
                                       ng-click="setAnswerTypeText(question, true)"
                                       ng-checked="answerIsText(question) && fieldIsDefined(question.answerIsText)">
                                <span>Поле для ввода текста</span>
                            </label>
                        </span>
                        <span class="radio">
                            <label>
                                <input type="radio" name="optradio{{question.id}}"
                                       ng-click="setAnswerTypeText(question, false)"
                                       ng-checked="!answerIsText(question) && fieldIsDefined(question.answerIsText)">
                                <span>Варианты ответов</span>
                            </label>
                        </span>
                        <span>
                            <input ng-disabled="multipleAnswersIsDisabled(question)"
                                   type="checkbox"
                                   ng-model="question.multipleAnswers">
                            <span class="checkbox-text">Выбор нескольких ответов</span>
                        </span>

                        <div ng-hide="answerIsText(question)" class="row answer"
                             ng-repeat="answer in question.answers">
                            <div class="col-md-12">
                                <input placeholder="Текст ответа"
                                       type="text" style="margin-top: 2px; width: 65%;"
                                       ng-model="answer.answerText">
                                <button role="button" class="btn btn-default" title="Удалить ответ"
                                        style="margin-top: 3px;float: right;"
                                        ng-click="removeAnswer(answer, question)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                        </div>
                        <div ng-show="!answerIsText(question) && fieldIsDefined(question.answerIsText)"
                             class="row" align="middle">
                            <button type="button" class="btn btn-default" ng-click="newAnswer(question)">
                                <span class="glyphicon glyphicon-plus"></span>
                                Добавить ответ
                            </button>
                        </div>

                    </div>
                </div>


                <div class="row" align="middle">
                    <button type="button" class="btn btn-default" ng-click="newQuestion(section)">
                        <span class="glyphicon glyphicon-plus"></span>
                        Добавить вопрос
                    </button>
                </div>
            </div>
        </div>

    </div>

    <div class="row" align="middle">
        <button type="button" class="btn btn-default" ng-click="newSection(opinion)">
            <span class="glyphicon glyphicon-plus"></span>
            Добавить секцию
        </button>
        <button type="button" class="btn btn-default"
                ng-hide="personInfoSectionExists(opinion)"
                ng-click="addPersonInfoSection(opinion)">
            <span class="glyphicon glyphicon-plus"></span>
            Добавить секцию с информацией о респонденте
        </button>
    </div>

    <div class="row">
        <div class="col-md-12" align="middle">
            <button class="btn save-btn"
                    ng-click="saveOpinion(opinion)"
                    title="Сохранить опрос (сохраняется автоматически каждую минуту)">
                <span ng-show="!loading" class="glyphicon glyphicon-floppy-disk"/>
                <span ng-show="loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"/>
            </button>
        </div>
    </div>

</div>
